<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Elsewhere</title>
		 <link rel="stylesheet" href="static/styles.css">
	</head>
	<body>
		<h1 class="header">Welcome to my sandbox</h1>
		<div>
			<blockquote class="qouter">websockets test</blockquote>
		</div>
		<div class="dbreq">
			<form name="sender">
				<input type="text" name="message" class="send_some">
				<input type="submit" name="send" class="submit_button" value="send now">
			</form>
		</div>
		<div id="messages"></div>
		 <script src="/static/client.js"></script>
	</body>
</html>
