<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Elsewhere</title>
		 <link rel="stylesheet" href="static/styles.css">
	</head>
	<body>
		<h1 class="header">Welcome to my sandbox</h1>
		<div>
			<blockquote class="qouter">websockets test</blockquote>
		</div>
		<div class="dbreq">
			<form name="myForm">
				<input type="text" name="request_form" class="send_some">
				<input type="submit" name="try" class="submit_button">
			</form>
		</div>
		 <script type="text/javascript">
		 	
		 </script>
	</body>
</html>
